---
layout: default
---

{% include hero.html %}

<div class="container animate" style="margin-bottom: 100px;">
  <article class="page">
    <div class="page__content">
      {% capture cv_content %}
      {% include cv.md %}
      {% endcapture %}
      {{ cv_content | markdownify }}
    </div>
  </article>
</div>

<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article-content.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}
