{% if site.social %}
  <div class="social">
    <ul class="social__list list-reset">
      {% for social in site.social %}
      <li class="social__item">
        <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="{{social.label}} link"><i class="ion {{social.icon}}"></i></a>
      </li>
      {% endfor %}
      <li class="social__item">
        <a href="https://www.linkedin.com/in/mkishi/" class="button hire-me-btn" target="_blank" rel="noopener">HIRING?</a>
      </li>
    </ul>
    <style>
      .hire-me-btn {
        background: var(--background-color);
        color: var(--heading-font-color);
        font-weight: 700;
        padding: 0 22px;
        border-radius: 14px;
        border: 1px solid var(--border-color);
        box-shadow: 0 2px 8px rgba(0,0,0,0.04);
        transition: all .25s;
        font-size: 16px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 43px;
        text-transform: uppercase;
      }
      .hire-me-btn:hover {
        background: #fff;
        color: #111;
        border: 1px solid #fff;
      }
      :root:not([dark]) .hire-me-btn:hover {
        background: var(--dark-blue);
        color: #fff;
        border: 1px solid var(--dark-blue);
      }
    </style>
  </div>
{% endif %}