---
layout: default
---

{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="page-image">
        <img src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- begin page -->
<div class="container animate">
  <article class="page">
    <div class="page__content">
      <div class="row animate">
        {% for post in paginator.posts %}
          {% include article-content.html %}
        {% endfor %}
      </div>
    </div>
  </article>
</div>

{% include pagination.html %}
<!-- end page -->